{% extends 'base.html.twig' %}

{% block body %}

<h1> connection </h1>

<form action="{{ path('security_login') }}" method="post">
  <div class="form-group">
    <input placeholder="Adresse mail ..." required name ="_username"
    type="text" class="form-control">
    </div>
    
    
  <div class="form-group">
    <input placeholder="mot de passe ..." required name ="_password"
    type="password" class="form-control">
    </div>
    <div class="form-group">
     <button type="submit" class="btn btn-success"> Connection </button>

     <br>  
      <br>      
       <br>
    
<a id="signup__button" class="ui-btn ui-btn--large transparent signup__btn" href="/inscription" style="
    font-weight: 696px;
    /* height: 5rem; */
    line-height: 5rem;
    background: #f6ebeb00;
    border-radius: 21rem;
    border: .1rem solid #738188;
    color: #2b3336;
    /* cursor: pointer; */
    margin: .7rem auto;
    padding: 8px 4rem;
    text-align: center;
    vertical-align: middle;
">Créer mon compte</a>

     




{% endblock %}